<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wordster</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
  </head>
  <body>
    <div id="welcome" class="container active">
      <h1>Welcome to Wordster!</h1>
      <button onclick="navigateTo('name-page')">Start Game</button>
    </div>

    <div id="name-page" class="container">
      <h1>Enter Your Name</h1>
      <input id="player-name" type="text" placeholder="Your Name" />
      <button onclick="startGame()">Continue</button>
    </div>

    <div id="game-page" class="container">
      <h1 id="game-title">Wordster</h1>
      <div id="grid-container" class="grid"></div>
      <input
        id="word-input"
        type="text"
        maxlength="5"
        placeholder="Enter 5-letter word"
      />
      <button id="submit-btn">Submit</button>
      <p id="message"></p>
      <p id="answer-container"></p> 
    </div>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>
